body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Light grey background */
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: Black;
}


.tablinks {
  border-bottom: 2px solid black;
}

.container {
    text-align: center;
    margin-top: 100px; /* Adjust as needed for positioning */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .upload-container {
    position: fixed;
    margin-top : -70px;
    margin-left : 650px;
  }

  .error-message {
    color: #ff0000; /* Red error message color */
    position: fixed;
    margin-left : 650px;
    margin-top : 20px;
  }
  
  .message {
    margin-bottom: 20px; /* Add space below the success/processing message */
  }

  .upload-button {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
    margin-top : -30px;
  }

  .reset-button{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top : -20px;
  }

  .success-message{
    position: fixed;
    color: green;
    text-align: center;
    margin-left : 650px;
    margin-top : 20px;
  }

  .upload-progress-msg{
    position: fixed;
    color: blue;
    margin-left : 700px;
    margin-top : 20px;
  }

  .upload-fail-message{
    position: fixed;
    color: red;
    margin-left : 600px;
    margin-top : 20px;
  }

  .analysis-status{
    position: fixed;
    color: green;
    margin-left : 600px;
    margin-top : 40px;
  }


  /* Adjustments for mobile screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

/* Additional adjustments for smaller screens if needed */
@media (max-width: 480px) {
  .container {
    /* Additional styles for smaller screens */
  }
}