<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <ul>
            <li><a routerLink="/home"  routerLinkActive="active">Home</a></li>
            <li><a routerLink="/analyzer" routerLinkActive="active">Analyzer</a></li>
            <li><a routerLink="/results" routerLinkActive="active">Results</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <div class="welcome-text">
        <h2>Welcome to e-statements Analyzer</h2>
    </div>
</body>
</html>
